.App {
  text-align: center;
}

.App .content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-width: 800px;
  margin: 0 auto;
}

/* for smaller screens */
@media (max-width: 600px) {
  .App .content {
    grid-template-columns: 1fr;
  }
}

.App .nav {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
