:root {
  --cloud-cell-gap: 5px;
  --cloud-cell-width: 80px;
  --cloud-names-width: 180px;
}
@media (max-width: 600px) {
  :root {
    --cloud-cell-width: 55px;
    --cloud-names-width: 150px;
  }
}

:root {
  --cloud-grid-width: calc(
    5 * var(--cloud-cell-width) + 4 * var(--cloud-cell-gap)
  );
  --cloud-width: calc(
    var(--cloud-grid-width) + var(--cloud-cell-gap) + var(--cloud-names-width)
  );
  --cloud-left-offset: calc(var(--cloud-names-width) / 2);
}

.cloud {
  display: grid;
  grid-template-columns: repeat(5, var(--cloud-cell-width)) 1fr;
  grid-template-rows: repeat(6, var(--cloud-cell-width));
  grid-gap: var(--cloud-cell-gap);
  width: var(--cloud-width);
  margin: 0 auto;
  /* offset to center the grid, ignoring the last column which is wider */
  position: relative;
  left: var(--cloud-left-offset);
}

.cloud .cell {
  border: 1px solid #ccc;
  border-radius: 5px;
  place-content: center;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.cloud .names {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
}

.sad-box {
  width: var(--cloud-width);
  margin: 20px auto;
  position: relative;
  left: var(--cloud-left-offset);
}

.sad-box .names {
  display: flex;
  flex-direction: row;
  margin-right: calc(var(--cloud-names-width) + var(--cloud-cell-gap));
  justify-content: center;
}

.sad-box span {
  float: left;
  font-size: 1.2em;
  cursor: default;
}
